.allSpots-container {
  display: flex;
  margin: 30px;
  border: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.spot {
  display: inline-block;
  margin: 1rem;
  width: 17rem;
  cursor: pointer;
}

.spot-img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 5%;
}

.location > * {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.location > span {
  width: fit-content;
}



.location > div,
h3 {
  margin: 0;
}
