/* TODO Add site wide styles */
body {
  margin: 0;
  padding: 0;
  font-family: Manrope, sans-serif;

}

ul {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: solid 0.1px rgb(255, 56, 92);
  border-radius: 8px; 
}

