/* TODO Add site wide styles */
body {
  display: block;
  margin: 7px;

}

ul {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: solid 0.1px rgb(255, 56, 92);
  border-radius: 8px; 
  
}

li {
  list-style-type: circle;
  margin-right: 10px;
  padding-right: 10px;
  
}

* {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
}