.spotDetail-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notReview {
  width: 1200px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.top-info {
  height: 90px;
}

.spotName > h1 {
  font-size: 25px;
  margin: 20px 0 4px;
  font-weight: lighter;
  font-family: sans-serif;
}

.spotInfo {
  font-size: 15px;
  display: flex;
}
.img-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: [row1-start] 50% [row1-end row2-start] 50% [row2-end];
  grid-template-areas: "img1 img2 img3" "img1 img4 img5";
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}

.image1 {
  width: 98%;
  height: 99%;
  border-radius: 5% 0 0 5%;
}

.image2 {
  width: 97%;
  height: 97%;
}
.image3 {
  width: 97%;
  height: 97%;
  border-radius: 0 5% 0 0;
}
.image4 {
  width: 97%;
  height: 97%;
}
.image5 {
  width: 97%;
  height: 97%;
  border-radius: 0 0 5% 0;
}
.bookingInfo-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.moreInfo {
  width: 50%;
  height: 100%;
}

.hosted {
  margin-left: 20px;
  border-bottom: 1px solid grey;
  height: 100px;
  width: 100%;
}

.hosting {
  margin-top: 30px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}

.highlights {
  border-bottom: 1px solid grey;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.hl-titles {
  margin-bottom: 0;
  font-weight: normal;
}

.hl-info {
  margin-top: 0;
  color: gray;
  font-weight: 500;
}

.inDepthInfo {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.booking-container {
  width: 370px;
  height: auto;
  border-radius: 12px;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 25px;
  margin-left: 80px;
  box-shadow: 0 0 0.75rem rgb(148, 148, 148);
}

.topPart {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-night {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 20px;
}

.checkout {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid grey;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: rgb(255, 56, 92);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.no-charge {
  padding-top: 3%;
  color: grey;
  height: 26px;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.fees {
  margin-top: 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.night-fees {
  margin: 10px;
  display: flex;
  font-weight: lighter;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.reviews {
  margin-top: 0;
  width: 100%;
  border-top: 1px solid grey;
}

.review-info {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.noReviewBttn {
  visibility: hidden;
}
.noUser {
  visibility: hidden;
}

.review-stuff {
  margin-top: 40px;
  font-size: 20px;
}

.hostinInfo {
  font-family: sans-serif;
  font-weight: lighter;
}

.userImg {
  height: 35px;
  width: 40px;
  padding-left: 80px;
}

.button {
  height: 80px;
}

.booking-spot {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.star-reviews {
  font-weight: lighter;
}

.seeReviewBttn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  padding-right: 24px;
  box-shadow: 0 0 0.75rem rgb(148, 148, 148);
}

.seeEdit {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-left: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 12px;
}

.noEdit {
  visibility: hidden;
}
