.hidden {
  display: none;
}

.navBar {
  top: 0;
  width: 100%;
  position: sticky;
  box-sizing: border-box;
  margin: 0px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.topRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  box-sizing: border-box;
}

.createBnb {
  list-style: none;
  padding: 5px;
}
