.hidden {
  display: none;
}

.navBar {
  top: 0;
  width: 100%;
  position: sticky;
  box-sizing: border-box;
  margin: 0px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.topRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  box-sizing: border-box;
}

.createBnb {
  list-style: none;
  padding: 5px;
  border-radius: 40px;
  cursor: pointer;
}

.profile {
  height: 40px;
  width: 80px;
  border-radius: 100px;
  border: solid 1px gray;
  background-color: white;
}

.menu {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  border-radius: 5%;
  background-color: white;
  width: 10rem;
  display: flex;
}
